* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

body {
    font-family: "FuturaNew", sans-serif;
    background-color: #FFFEFE;
}

main {
    margin-top: 90px;
}

.pl-1 {
    padding-left: 80px;
}

.pr-1 {
    padding-right: 80px;
}

.pl-2 {
    padding-left: 284px;
}

.pr-2 {
    padding-right: 284px;
}

.close-popup {
    position: absolute;
    top: 26px;
    right: 26px;
    width: 16px;
    height: 16px;
    background-image: url("../assets/img/close.svg");
    background-color: #FFF;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.main-btn {
    box-sizing: border-box;
    background-color: #FFC59E;
    box-shadow: 0px 4px 20px #FFC59E;
    border-radius: 34px;
    border: none;
    padding: 24px 77px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
}

.main-btn:hover {
    color: #FFF;
    background-color: #59443F;
    box-shadow: none;
    transition: all 0.5s ease;
}

.section-margin {
    margin-top: 150px;
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }

    main {
        margin-top: 20px;
    }

    .pl-1 {
        padding-left: 10px;
    }
    
    .pr-1 {
        padding-right: 10px;
    }

    .section-margin {
        margin-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 16px;
    }

    .section-margin {
        margin-top: 100px;
    }
}

@media (max-width: 1024px) {

    .popup {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background-color: #FFF;
        transform: translateY(-110vh);
        transition: all 0.5s ease;
    }

    .popup--visible {
        transform: translateY(0);
        transition: all 0.5s ease;
    }
}