.header {
    padding-top: 84px;
    padding-bottom: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.logo {
    display: block;
    width: 79px;
    min-width: 59px;
}

.logo-img {
    width: 100%;
}

.menu-mobile {
    display: none;
}

.menu {
    width: 52.33%;
    min-width: 560px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.menu-item {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    color: #C3B9B5;
    text-transform: uppercase;
    list-style-type: none;
    transition: all 0.3s linear;
}

.menu-item a {
    color: #C3B9B5;
    text-decoration: none;
}

.menu-item:hover,
.menu-item:hover a {
    color: #59443F;
    transition: all 0.3s linear;
}

.sub-menu-wrapper {
    display: none;
    position: absolute;
    left: -32px;
    padding-top: 20px;
    z-index: 2;
}

.sub-menu {
    box-sizing: border-box;
    min-width: 243px;
    padding: 40px 50px 40px 50px;
    background-color: #FFF;
    box-shadow: 2px 2px 20px rgba(155, 82, 50, 0.1);
    border-radius: 20px;
}

.menu-item:hover .sub-menu-wrapper {
    display: block;
}

.sub-menu-item {
    margin-top: 30px;
}

.sub-menu-item:first-child {
    margin-top: 0;
}

.sub-menu-item,
.sub-menu-item a {
    font-size: 1rem;
    font-weight: 400;
    color: #080606;
    list-style-type: none;
    text-transform: none;
}

.sub-menu-item:hover,
.sub-menu-item a:hover {
    font-weight: bold;
}

.city {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: #FFC59E;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.city::before {
    content: "";
    display: block;
    width: 20px;
    height: 29px;
    margin-right: 19px;
    background-image: url("../assets/img/map.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 1024px) {

    .menu-mobile {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-item {
        margin-top: 10px;
    }

    .menu-item:first-child {
        margin-top: 0;
    }

    .open-burger-menu {
        width: 32px;
        height: 32px;
        background-image: url("../assets/img/burger.svg");
        background-color: #FFF;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
    }
}

@media (max-width: 767px) {
    .city::before {
        width: 15px;
        height: 22px;
        margin-right: 8px;
    }
}