.mobile-app {
    margin-top: 150px;
    padding-top: 10.63%;
    padding-left: 11.98%;
    padding-bottom: 6.04%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFC59E;
}

.mobile-app-description {
    width: 43.02%;
}

.mobile-app-title {
    font-family: "SchoolBook", serif;
    font-size: 4rem;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 110px;
}

.mobile-app-links {
    display: flex;
    flex-direction: row;
    margin-top: 42px;
}

.mobile-app-link {
    display: block;
    width: 167px;
    height: 49px;
    background-size: contain;
    background-repeat: no-repeat;
}

.app-ios {
    background-image: url("../assets/img/appstore.svg");
}

.app-google {
    background-image: url("../assets/img/google-play.svg");
}

.mobile-app-img {
    width: 37.71%;
    max-width: 764px;
    margin-left: 64px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .mobile-app-title {
        font-size: 2.5rem;
        line-height: 60px;
    }

    .mobile-app-img {
        width: 45.71%;
    }

    .mobile-app-links {
        align-items: center;
    }

    .app-google {
        background-position: center;
    }
}

@media (max-width: 767px) {
    .mobile-app {
        flex-direction: column;
        align-items: stretch;
        padding-right: 11.98%;
    }

    .mobile-app-description {
        width: 100%;
    }

    .mobile-app-title {
        font-size: 2.2rem;
        line-height: 40px;
    }

    .mobile-app-links {
        flex-direction: column;
        margin-top: 14px;
    }

    .app-google {
        margin-top: 12px;
    }

    .mobile-app-img {
        width: 100%;
        margin-left: 0;
        margin-top: 16px;
    }
}