.main-slider {
    max-width: 1920px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.toggler {
    padding-left: 20px;
    list-style-type: none;
}

.toggle {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #C3B9B5;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.toggle:first-child {
    margin-top: 0;
}

.toggle--active {
    background-image: url("../assets/img/process.svg");
    background-size: contain;
    background-repeat: no-repeat;
    color: #080606;
}

.slide-viewport {
    width: 78.39%;
    overflow: hidden;
}

.slide-viewport-content {
    transition: all 0.5s ease;
}

.slide {
    position: relative;
    box-sizing: border-box;
    padding-left: 18px;
    padding-bottom: 317px;
    max-height: 100%;
    overflow: hidden;
}

.slide-1 {
    background-image: url("../assets/img/slides/image-1.png");
    background-size: 44.42% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.slide-2 {
    background-image: url("../assets/img/slides/image-2.png");
    background-size: 43.42% auto;
    background-repeat: no-repeat;
    background-position: 75% bottom;
}

.slide-3 {
    background-image: url("../assets/img/slides/image-3.png");
    background-size: 30.42% auto;
    background-repeat: no-repeat;
    background-position: 85% bottom;
}

.slide-4 {
    background-image: url("../assets/img/slides/image-4.png");
    background-size: 52.42% auto;
    background-repeat: no-repeat;
    background-position: 85% bottom;
}

.slide-5 {
    background-image: url("../assets/img/slides/image-5.png");
    background-size: 46.42% auto;
    background-repeat: no-repeat;
    background-position: 80% bottom;
}

.slide-6 {
    background-image: url("../assets/img/slides/image-6.png");
    background-size: 48.42% auto;
    background-repeat: no-repeat;
    background-position: 98% 29%;
}

.slide-text {
    max-width: 645px;
    font-family: "SchoolBook", serif;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5.5rem;
    color: #080606;
}

.slide-text--big {
    max-width: 755px;
}

.slide-btn {
    margin-top: 50px;
}

.slide-contacts {
    position: absolute;
    bottom: 80px;
    right: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

.social-links {
    display: flex;
    flex-direction: row;
}

.social {
    width: 40px;
    height: 40px;
    list-style-type: none;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}

.social:first-child {
    margin-left: 0;
}

.social a {
    display: block;
    height: 100%;
}

.social-vk {
    background-image: url("../assets/img/vk.svg");
}

.social-youtube {
    background-image: url("../assets/img/youtube.svg");
}

.slide-phone {
    color: #59443F;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.5rem;
}

@media (max-width: 767.4px) {
    .main-slider {
        flex-direction: column-reverse;
    }

    .slide-viewport {
        width: 100%;
    }

    .toggler {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 6px;
    }

    .toggle {
        margin-top: 0;
    }

    .slide {
        padding-bottom: 240px;
        padding-right: 18px;
    }

    .slide-1,
    .slide-2,
    .slide-3,
    .slide-4,
    .slide-5,
    .slide-6 {
        background: none;
    }

    .slide-text {
        font-size: 2rem;
        line-height: 3.5rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .slide-text--big {
        font-size: 3vmax;
    }

    .slide-text--big br {
        display: none;
    }

    .slide-btn {
        display: block;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .slide-contacts {
        flex-direction: column;
        padding-right: 0;
        bottom: 20px;
    }

    .slide-phone {
        margin-top: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .slide {
        padding-bottom: 360px;
    }

    .slide-text,
    .slide-text--big {
        max-width: 495px;
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .slide-4 {
        background-position: 99% 60%;
    }

    .slide-6 {
        background-size: 61.42% auto;
        background-position: 103% 74%;
    }

    .slide-contacts {
        bottom: 30px;
    }
}