.main-slider {
    max-width: 1920px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.toggler {
    padding-left: 20px;
    list-style-type: none;
}

.toggle {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #C3B9B5;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.toggle:first-child {
    margin-top: 0;
}

.toggle--active {
    background-image: url("../assets/img/process.svg");
    background-size: contain;
    background-repeat: no-repeat;
    color: #080606;
}

.slide-viewport {
    width: 78.39%;
    overflow: hidden;
}

.slide-viewport-content {
    transition: all 0.5s ease;
}

.slide {
    padding-bottom: 80px;
    max-height: 100%;
    overflow: hidden;
    padding-left: 18px;
}

.slide-1 {
    background-image: url("../assets/img/slides/image-1.png");
    background-size: 64.42% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.slide-2 {
    background-image: url("../assets/img/slides/image-2.png");
    background-size: 61.42% auto;
    background-repeat: no-repeat;
    background-position: 75% bottom;
}

.slide-3 {
    background-image: url("../assets/img/slides/image-3.png");
    background-size: 44.42% auto;
    background-repeat: no-repeat;
    background-position: 85% bottom;
}

.slide-4 {
    background-image: url("../assets/img/slides/image-4.png");
    background-size: 62.42% auto;
    background-repeat: no-repeat;
    background-position: 85% -13%;
}

.slide-5 {
    background-image: url("../assets/img/slides/image-5.png");
    background-size: 66.42% auto;
    background-repeat: no-repeat;
    background-position: 112% bottom;
}

.slide-6 {
    background-image: url("../assets/img/slides/image-6.png");
    background-size: 64.42% auto;
    background-repeat: no-repeat;
    background-position: 103% 55%;
}

.slide-text {
    max-width: 645px;
    font-family: "SchoolBook", serif;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5.5rem;
    color: #080606;
}

.slide-text--big {
    max-width: 755px;
}

.slide-btn {
    margin-top: 50px;
}

.slide-contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 197px;
    padding-right: 80px;
}

.social-links {
    display: flex;
    flex-direction: row;
}

.social {
    width: 40px;
    height: 40px;
    list-style-type: none;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}

.social:first-child {
    margin-left: 0;
}

.social a {
    display: block;
    height: 100%;
}

.social-vk {
    background-image: url("../assets/img/vk.svg");
}

.social-youtube {
    background-image: url("../assets/img/youtube.svg");
}

.slide-phone {
    color: #59443F;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.5rem;
}